<div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
              <a href="index.html" class="logo d-flex align-items-center w-auto">
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <span class="d-none d-lg-block">Home</span>
              </a>
            </div><!-- End Logo -->

            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Forget password</h5>
                  <p class="text-center small">Enter your username</p>
                </div>
                @if (!requestFinished) {
                <form class="row g-3 needs-validation" novalidate (ngSubmit)="passwordRequest();" ngForm #nf="ngForm">

                  <div class="col-12">
                    <label for="yourUsername" class="form-label">Username</label>
                    <div class="input-group has-validation">
                      <span class="input-group-text" id="inputGroupPrepend">&#64;</span>
                      <input type="text" name="username" class="form-control" id="yourUsername" [(ngModel)]="email" ngModel #emailModal="ngModel" required>
                      <div class="invalid-feedback" [hidden]="emailModal.value || emailModal.pristine">Please enter your username.</div>
                    </div>
                  </div>

                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit" [disabled]="!nf.valid">Submit</button>
                    @if (isProgressStarted) {
                      <div class="progress mt-3">
                        <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    }
                  </div>
                </form>
                } @else {
                    <p>If your account exists, you will shortly receive an email with a temporary password. Please consider changing it at the first login.</p>
                }
              </div>
            </div>

            <div class="credits">
              <!-- All the links in the footer should remain intact. -->
              <!-- You can delete the links only if you purchased the pro version. -->
              <!-- Licensing information: https://bootstrapmade.com/license/ -->
              <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
              Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>

          </div>
        </div>
      </div>

    </section>

  </div>